{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-scss"],
  "rules": {
    "indentation": 2,
    "declaration-block-trailing-semicolon": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["function", "if", "each", "include", "mixin"]
      }
    ],
    "scss/at-rule-no-unknown": true
  }
}
